html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    border: 1px solid black;
    height: calc(100% - 7px);
    width: calc(100% - 2px);
}

.canvas-hover {
    position: absolute;
    top: 0;
    left: 0;
}